{% if is_sortable %}
    <th id="{{ col_type }}_header" onclick="add_sort_by('{{ col_type }}')" data-toggle="tooltip" title="{{ tooltip_title }}"
        class="sortable-th">
        {% if tooltip_title %}
            <i data-toggle="tooltip" title="{{ tooltip_title }}" class="fas fa-info-circle no-right-margin"></i>
        {% endif %}
        <div class="th-container {% if sorting_shade %}{{ sorting_shade }}{% else %}dark{% endif %}">
            <div class="column-title">{{ col_title }}</div>
            <div class="sort-controls">
                <i class="sorting-asc"></i>
                <div class="sorting-num" style="display: none">
                    <strong id="{{ col_type }}_number"></strong>
                </div>
                <i class="sorting-desc"></i>
            </div>
        </div>
    </th>
{% else %}
    <th class="sortable-th" data-toggle="tooltip" title="{{ tooltip_title }}">
        {% if tooltip_title %}
            <i data-toggle="tooltip" title="{{ tooltip_title }}" class="fas fa-info-circle no-right-margin"></i>
        {% endif %}
        <div class="th-container">
            <div class="column-title">{{ col_title }}</div>
        </div>
    </th>
{% endif %}